# Backend API Configuration
# For server-side API routes (Next.js API routes)
BACKEND_API_URL=http://0.0.0.0:8000
# For client-side code (React components, auth-api.ts)
NEXT_PUBLIC_API_URL=http://0.0.0.0:8000

# Authentication - Set to 'false' to enable authentication (RECOMMENDED for production)
DISABLE_AUTH=true
NEXT_PUBLIC_DISABLE_AUTH=true
# Kinde URLs
NEXT_PUBLIC_KINDE_LOGOUT_URL=https://orcaventurers.vercel.app/
KINDE_SITE_URL=https://orcaventurers.vercel.app
KINDE_POST_LOGOUT_REDIRECT=https://orcaventurers.vercel.app
KINDE_POST_LOGIN_REDIRECT=https://orcaventurers.vercel.app

# Price Channels
PRICE_CHANNEL_4=TRADOVATE_NQZ5_PRICE:NQZ5:NQZ5
PRICE_CHANNEL_3=TRADOVATE_MNQZ5_PRICE:MNQZ5:MNQZ5
PRICE_CHANNEL_2=TRADOVATE_ESZ5_PRICE:ESZ5:ESZ5
PRICE_CHANNEL_1=TRADOVATE_MESZ5_PRICE:MESZ5:MESZ5


# Redis Configuration
REDIS_HOST=your-redis-host.redis.cache.windows.net
REDIS_PORT=6380
REDIS_PRIMARY_ACCESS_KEY=your_redis_primary_access_key_here
